.appointment {
    .container {
        background: url(../img/appointment/bg_top.svg) no-repeat top right,
                    url(../img/appointment/bg_bottom.svg) no-repeat bottom 78px left,
                    #02133C;
    }
    &__inner {
        margin: 0 auto;
        max-width: 1020px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__number {
        max-width: 324px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__number-top {
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 46px;
    }
    &__number-center {
        font-weight: 900;
        font-size: 96px;
        line-height: 56px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #C40B0B;
        margin-bottom: 46px;
    }
    &__number-bottom {
        font-weight: 900;
        font-size: 19px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
    }
}
.form {
    max-width: 585px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    padding: 76px 57px;
    background: #fff;
    margin: 130px 0 210px 0;
    &__title {
        width: 100%;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #02133C;
        margin-bottom: 21px;
    }
    &__email,
    &__phone,
    &__name,
    &__service {
        width: 47%;
        height: 48px;
        background: #F5F5F5;
        border: none;
        padding: 23px 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #959595;
    }
    &__textarea {
        width: 100%;
        padding: 23px 15px;
        height: 180px;
        background: #F5F5F5;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #959595;
    }
}
@media (max-width: 900px) {
    .appointment {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        .form {
            margin: 130px 0 100px 0;
        }
        &__number {
            margin-bottom: 150px;
        }
    }
}
@media (max-width: 576px) {
    .appointment {
        &__number-center {
            font-size: 60px;
            line-height: 70px;
            margin-bottom: 46px;
        }
        .form {
            margin: 40px 0 40px 0;
            padding: 40px 15px;
            &__email,
            &__phone,
            &__name,
            &__service {
            width: 100%;
            }
        }
    }
}

