html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#4B4B4B;
}
.wrapper{
    background-color: #F5F5F5;
}
.container {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}