@import "header.scss";
html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit; 
}
a {
    text-decoration: none;
}
body {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 16px;
    color:#232323;
}
.container {
    max-width: 1470px; 
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    &__inner {
    }
    &__top {}
    &__top-left {}
    &__logo {}
    &__top-right {}
    &__hours {}
    &__hours-top {}
    &__hours-bottom {}
    &__call {}
    &__right-btn {}
    &__top-menu {}
    &__menu {}
    &__middle {}
    &__title-h1 {}
    &__middle-btn {}
}



