.video {
    &__title {
        position: absolute;
        top: 20px;
        right: 50px;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #fff;
    }
}
.container-fluid {
    margin: 0 auto;
    width: 1440px;
    height: 500px;
    position: relative;
}
.video-clip {

}
